@import 'tailwindcss';

@theme {
  --color-brand-dark: #328e6e;
  --color-brand-medium: #67ae6e;
  --color-brand-light: #90c67c;
  --color-brand-lighter: #e1eebc;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}